.header{
    display: flex;
    flex-direction: row;
    background-color: #8847b8;
    background: linear-gradient(135deg, #2a064f, #8847b8, #2a064f);
/* background: linear-gradient(120deg, #000000, #8847b8, #2d0638); */

    height: 50px;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-shrink: 0;
}

.bot_name{
    padding: 10px;
}







