.header{
    display: flex;
    flex-direction: row;
    background-color: #8847b8;
    height: 50px;
    width:100vw;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.bot_name{
    padding: 10px;
}



button{
  font-size: 12px; 
  /* color: white; */
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}



